<a href="https://colab.research.google.com/github/alexa12mora/AnalisisDatos/blob/Alexa/AlexaRiosMoraLabboratorio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


n1=int(input("Ingrese el primer valor:"))
n2=int(input("Ingrese el segundo valor:"))

if n1<n2:
  print("El numero menor es:"+str(n1))
else:
  print("El numero menor es:"+str(n2))

Ingrese el primer valor:5
Ingrese el segundo valor:6
El numero menor es:6

In [ ]:
print("EJERCICIO AÑOS") 

swither={1:"Enero",2:"Febrero",3:"Marzo",4:"Abril",5:"Mayo",6:"Junio",7:"Julio",8:"Agosto",9:"Septiembre",10:"Octubre",11:"Noviebre",12:"Diciembre"}
n2=int(input("Ingrese un valor:"))
mes = swither.get(n2,"numero Invalido")
print(mes)

EJERCICIO AÑO BISIESTO
Ingrese un valor:6
Junio